<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div id="header-container">
        <div class="header">
            <div id="navigation">
                <div class="filler">
                    <a href="/">
                        <img src="/images/icons8-cat-50.png" />
                    </a>
                </div>
                <div class="nav-button">
                    <a href="/about">
                        About
                    </a>
                </div>
                <div class="nav-button">
                    <a href="/contact">
                        Contact
                    </a>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>