* {
    color: white;
    /* margin: 0; */
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gothic-a1-regular {
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .content-container > h2 {
    margin-bottom: 25px;
  }

  h2 {
    text-align: center;
    color: rgb(45, 49, 59) !important;
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  #cursed-text {
    color: red !important;
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 27px;
    margin-top: 27px;
  }

  .invitation {
    text-align: center;
    padding-bottom: 40px;
  }

/* 
.pirata-one-regular {
    color: rgb(120, 6, 6) !important;
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
   */
  

.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

html, body {
    margin: 0;
    padding: 0;
    
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-container {
    min-height: 100vh;
    position: relative;
    padding-top: 20px;
    background-color: rgb(59, 37, 81);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Enable vertical scrollbar */
}

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filler {
    background-color: rgb(78, 78, 78);
    width: 35%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

#navigation > .nav-button {
    background-color: orangered;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    list-style: none;
    z-index: 10;
}


.fa-cat {
    width: 50px;
    height: 50px;
}

form > div > * {
    color: black;
    padding: 10px;
    margin: 10px;
}


button {
    background-color: orangered;
    color: black;
    border-radius: 20px;
    position: relative;
}

button:hover {
    background-color: rgb(120, 6, 6);
    color: white;
    box-shadow: 30px;
}

.post-input {
    padding: 20px;
    height: 1rem;
    width: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label {
    color: white;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 80vh;
}

textarea {
    width: 80.2vh;
    height: 205px;
}

.footer {
    position: relative;
    margin: 0;
    padding: 10px;
    background-color: rgb(78, 78, 78);
    z-index: 10;
}

label {
    color: white !important;
}

#victim-list-container {
    display: flex;
    flex-direction: column;
    background-color: grey;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 55%;
    padding: 25px;
}

li {
    list-style: none;
    word-wrap: break-word;
}

.evil {
    background-color: darkred;
}

.header-container {
    position: fixed;
}

#listed-name {
    text-align: center;
    margin-bottom: 15px;
}

#victim-list {
    padding: 20px;
    background-color: rgb(40, 40, 59, 0.7);
}


/* Tablet Adjusting */


@media (max-width: 747px) {
    input {
        width: 400px;
    }

    .content-container {
        /* background-color: blue; */
    }

    #victim-list-container {
        width: 75%;
    }

    textarea {
        width: 400px;
        height: 150px;
    }
}

/* Mobile Phone Adjusting */

@media (max-width: 480px) {
    input {
        width: 300px;
    }

    .content-container {
        /* background-color: green; */
    }

    #navigation {
        flex-direction: column;
    }

    .filler {
        width: 100%;
    }

    #victim-list-container {
        width: 100%;
    }

    textarea {
        width: 300px;
        height: 150px;
    }
}

#about-content-container, #contact-content-container {
    display: flex;
    justify-content: flex-start;
}

#about-content-container > *, #contact-content-container > * {
    margin: initial !important;
    padding: 20px;
}

#about-content-container > body, #contact-content-container > body {
    padding: 20px;
}

#about-content-container > div > h2, #contact-content-container > div > h2 {
    color: silver !important;
    text-align: left;
}

#about-content-container > h1,  #contact-content-container > h1 {
    color: silver !important;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
}

#about-content-container > div, #contact-content-container > div {
    padding-top: 0;
}

#contact-details {
    text-align: left;
    padding-right: 200px;
}